<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %title Scatter.FM | Last.FM Visualisation
    %link(href="lib/bootstrap/bootstrap.css" rel="stylesheet")
    %link(href="style.css" rel="stylesheet")
  %body
    .topbar
      .fill
        .container
          %a.brand(href="/") Scatter.FM
          %ul.nav
            %li
              %a(href="//markhansen.co.nz/lastfm-scattergraph/") About
            %li
              %a#feedback(href="javascript:void()") Give Feedback
          %form#searchForm(style="display:none;")
            %input#search.span3(name="search" placeholder="Filter Songs")
            %a#filter.btn.primary(href="javascript:void($('#searchForm').submit());")
              Filter
    .container-fluid(style="min-width: 300px")
      .sidebar#sidebar
        .well
          #user
            User:
            %a.user_link
          #legend_wrap(style="display:none;")
            %h3 Artist Legend
            %ul#legend
          #fetchThrobber.throbber(style="display:none;")
            %span#fetchStatus
            %img(src="throbber.gif")
          #drawingThrobber.throbber(style="display:none;")
            :plain
              Plotting <span id="drawStatus"></span>... 
              <img src="throbber.gif">
          .api_link
            Data from the
            %a#lastfm_link(href="http://www.last.fm/api") Last.fm API
          #tips.extra-top
            %h3 Tips
            :markdown
              - Double-click to zoom in.
              - Scroll down to zoom out.
              - Drag to pan.
          #share.extra-top
            %a#share-btn.btn.primary.large Share this graph
          #user.extra-top
            Not 
            %a.user_link
            ?
            %br
            %a.btn.large#another_user(href="index.html") View another user

    #flot_container
    #share-dialog.modal(style="display:none;")
      .modal-header
        %h3 Share this graph
        %a.close(href="javascript:void()") x
      .modal-body
        :markdown
          Use this link to share the graph:
        %input#share_link(value="loading..." readonly="readonly" style="width:400px")
    #feedback-dialog.modal(style="display:none;")
      .modal-header
        %h3 Give Feedback
        %a.close(href="javascript:void()") x
      .modal-body
        :markdown
          Comments, feedback, criticism, or suggestions, I'd love to hear from you!
          You can leave a 
          [comment on my blog](//markhansen.co.nz/lastfm-scattergraph/#disqus-thread) 
          or [email me](mailto:mark@markhansen.co.nz).
    %script(src="lib/mustache.js")
    %script(src="lib/jquery.min.js")
    %script(src="lib/flot/jquery.flot.js")
    %script(src="lib/flot/jquery.flot.navigate.js")
    %script(src="lib/flot/jquery.flot.resize.js")
    %script(src="lib/date.js")
    %script(src="lib/underscore.js")
    %script(src="lib/backbone.js")
    %script(src="models/AppModel.js")
    %script(src="models/LegendModel.js")
    %script(src="models/FetchModel.js")
    %script(src="models/ScrobbleCollection.js")
    %script(src="models/FlotScrobbleGraphViewModel.js")
    %script(src="models/Request.js")
    %script(src="models/RequestQueue.js")
    %script(src="AppController.js")
    %script(src="views/DrawingThrobberView.js")
    %script(src="views/ToolTipView.js")
    %script(src="views/FetchThrobberView.js")
    %script(src="views/FlashingScrobbleView.js")
    %script(src="views/UsernameView.js")
    %script(src="views/LegendView.js")
    %script(src="views/FlotScrobbleGraphView.js")
    %script(src="views/FilterBoxView.js")
    %script(src="views/FeedbackDialogView.js")
    %script(src="views/ShareDialogView.js")
    %script(src="AppRouter.js")
    %script(src="http://static.getclicky.com/js")
    :javascript
      clicky.init(236155);
    %noscript
      %p
        %img(alt="Clicky" height="1" src="http://in.getclicky.com/236155ns.gif" width="1")
