<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %title Scatter.FM | Last.FM Visualisation
    %link(href="lib/bootstrap/bootstrap.css" rel="stylesheet")
    %link(href="style.css" rel="stylesheet")
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand(href="#") Scatter.FM
          %ul.nav
            %li
              %a(href="#") About
          %form#searchForm.pull-right(style="display:none;")
            %input#search.span3(name="search" placeholder="Filter Scrobbles")
            %a#filter.btn.primary(href="javascript:void($('#searchForm').submit());")
              Filter
    .container-fluid
      .sidebar
        .well
          #user
          #get_yours
            %a(href="index.html") View another user
          #legend_wrap(style="display:none;")
            %h2 Artist Legend:
            %ul#legend
          #fetchThrobber.throbber(style="display:none;")
            Fetching...
            %span#fetchStatus
            %img(src="throbber.gif")
          #drawingThrobber.throbber(style="display:none;")
            :plain
              Drawing <span id="drawStatus"></span>... 
              <img src="throbber.gif">
          %div
            Data nicked from
            %a#lastfm_link(href="http://www.last.fm") last.fm
    #placeholder
      .hero-unit
        :markdown
          # Visualise your scrobbles

          See your entire listening history... in one graph.

          Life changes often precipitate changes in listening habits - our
          scrobbling history can give insight into our life history.

          Is your story reflected in your scrobbles?
        %form#userForm
          %input#userInput(name="user" placeholder="Last.FM Username")
          %input.btn.primary(type="submit" value="Visualise my scrobbles!")
      .span5
        :markdown
          ## When did I listen to...
          - **Sgt. Pepper's Lonely Hearts Club Band** for the first time?
          - **Party Rock Anthem** on repeat for three hours straight?
          - My favorite artists for the first time?
      .span5
        :markdown
          ## What did I scrobble...
          - two years ago?
          - at Tyler's party?
          - at work?
          - out at the beach this summer?

    %script(src="lib/less-1.1.3.min.js")
    %script(src="lib/mustache.js")
    %script(src="lib/jquery.min.js")
    %script(src="lib/flot/jquery.flot.js")
    %script(src="lib/flot/jquery.flot.navigate.js")
    %script(src="lib/flot/jquery.flot.resize.js")
    %script(src="lib/jquery.url.js")
    %script(src="lib/date.js")
    %script(src="lib/underscore.js")
    %script(src="lib/backbone-min.js")
    %script(src="views.js")
    %script(src="placeholder_view.js")
    %script(src="models.js")
    %script(src="lastfm_scrobble_fetcher.js")
    %script(src="drawscrobbles.js")
    %script(src="index.js")
    %script(src="http://static.getclicky.com/js")
    :javascript
      clicky.init(236155);
    %noscript
      %p
        %img(alt="Clicky" height="1" src="http://in.getclicky.com/236155ns.gif" width="1")
