<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %title Scatter.FM | A Visualisation of Your Last.fm History
    %link(href="lib/bootstrap/bootstrap.css" rel="stylesheet")
    %link(href="style.css" rel="stylesheet")
    %meta(name="description" content="Unlock old memories by browsing the music of your past. Visualise your entire listening history, in one graph.")
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand(href="/scatter.fm/") Scatter.FM
          %ul.nav
            %li
              %a(href="//markhansen.co.nz/lastfm-scattergraph/") About
    #intro_page.container
      .hero-unit(style="overflow:hidden")
        .media-grid(style="float:right;")
          %a
            %img(src="screenshot.png")
        .copy(style="float:left;")
          :markdown
            # Life's Soundtrack
            
            Unlock old memories by browsing the music of your past.

            Visualise your entire listening history, in one graph.
          %form#userForm
            %input#userInput(name="user" placeholder="Last.FM Username")
            %br
            %input.btn.large.primary(type="submit" value="Visualise my scrobbles!")
      .span5
        :markdown
          ## When did I listen to...
          - **Sgt. Pepper's Lonely Hearts Club Band** for the first time?
          - **Party Rock Anthem** on repeat for three hours straight?
          - **The Rolling Stones** for the first time?
      .span5
        :markdown
          ## Your listening story
          Life changes often precipitate changes in listening
          habits - your listening history can give insight into
          your life history.

          Is your story reflected in your songs?
      .span5
        :markdown
          ## What did I listen to...
          - two years ago?
          - at Tyler's party?
          - at work last summer?
          - out at the beach at Christmas?
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script(src="log.js")
    %script(src="index.js")
    %script(src="http://static.getclicky.com/js")
    %noscript
      %p
        %img(alt="Clicky" height="1" src="http://in.getclicky.com/236155ns.gif" width="1")
    :javascript
      clicky.init(236155);
