/*html {*/
    /*overflow-y: hidden;*/
/*}*/
/* from: http://www.alistapart.com/articles/holygrail */
body {
    min-width: 440px; /* 2x size of left panel */
    padding-top: 60px;
}
#placeholder {
    height: 500px;
    width: 95%;
}
body, html {
    height: 100%;
}
#tooltip {
    font-size: 11px;
    font-family: sans-serif;
    position: absolute;
    display: none;
    border: 1px solid #ddf;
    padding 2px;
    opacity: 0.8;
    background-color: #eef;
    padding: 5px;
}
#tooltip #text {
    float:right;
    padding: 4px;
}
#artist {
    font-weight: bold;
}
#date {
    font-weight: bold;
}
#tooltip img {
    float:left;
}
li {
    list-style-type: none;
}
.throbber {
    margin-bottom: 0.3em;
}
