body {
    padding-top: 60px;
}
#placeholder {
    position:absolute;
    top:80px;
    right:10px;
    left:250px;
    bottom: 10px;
}
#tooltip.popover {
    display: none;
    /* it's nice to be able to see flashing instances of the same
     * song, even if they're occluded by the tooltip, so make the
     * tooltip a little transparent */
    opacity: 0.8;
    /* override the bootstrap defaults - they make the tooltip
     * hug the left side of the screen */
    left: auto;
}
#tooltip #text {
    float:right;
    padding: 4px;
}
#tooltip img {
    float:left;
}
#tooltip.popover .arrow {
/* it's useful to be able to reason about exactly how
 * many pixels down the arrow will be, so we can
 * point it exactly at the scrobble.
 *
 * so, override the bootstrap defaults from 'halfway
 * down the box' to a fixed number of pixels down
 * that's approx halfway.*/
    top: 70px; 
}
