html, body {
    background-image: url(project_papper.png);
}
body {
    padding-top: 60px;
}
#flot_container {
    position:absolute;
    top:60px;
    right:20px;
    left:260px;
    bottom: 10px;
}
#tooltip.popover {
    display: none;
    /* it's nice to be able to see flashing instances of the same
     * song, even if they're occluded by the tooltip, so make the
     * tooltip a little transparent */
    opacity: 0.8;
    /* override the bootstrap defaults - they make the tooltip
     * hug the left side of the screen */
    left: auto;
    z-index: 10001;
}
#tooltip img {
    float:left;
    padding: 4px;
}
#tooltip.popover .content {
    /* clearfix for the floated albumart image*/
    overflow: auto;
}
#tooltip.popover .arrow {
/* it's useful to be able to reason about exactly how
 * many pixels down the arrow will be, so we can
 * point the arrow exactly at the scrobble graph point.
 *
 * The bootstrap default style for the arrow is 'halfway
 * down the box'. Change this to a fixed number of pixels down
 * that's approx halfway.*/
    top: 70px; 
}

.hero-unit h1 {
    font-size: 50px;
}

#userInput {
    font-size:40px;
    width: auto;
    height: auto;
    line-height: normal;
    margin-bottom: 15px;
}

.topbar .container {
    width: auto;
    padding-left: 20px;
}

.extra-top {
    margin-top: 15px;
}
